NODE_ENV=development
#NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://postgres:113355@localhost:5432/jayab_v2_sandbox_db

ALLOWED_RADIUS_FOR_ORDERING=20
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''

USER_SECRET=5aff33dcbf84033b79db26428b945990fb1aae33acc3ff7a67f696d254d
USER_EXPIRE=7d

USER_AUTH_SECRET=1234
USER_AUTH_EXPIRE=2h

GUEST_SECRET=73ff5718a4295bc33939d189a87a7f477520b74aa717d2d9cc9b1865c81d2de9
GUEST_EXPIRE=180d

ADMIN_SIGNIN_SECRET=aea7afe472ae5d1b94c3fa40deca80da38c07a3468526d1cf5592f0d3455b7
ADMIN_AUTH_SECRET=f166f1465706f5862fc95bdb4c9e4e8ef8d5ecb741c0c00e3de57167c2007
ADMIN_AUTH_EXPIRE=30d
ADMIN_PASS_NONCE=8ba657ebf6ea83a76bf4c3b47c4083955947000bb68910cf9077ab7aa70

SOCKET_SECRET=172797192ekjhkdhkahd98882
SOCKET_EXPIRE=30d

MAX_OTP_ATTEMPTS=3

BUCKET_NAME=kian-dev-bucket
S3_FS1_ENDPOINT=storage.iran.liara.space
S3_FS1_ACCESS_KEY=iastfsdau56boc4t
S3_FS1_SECRET_KEY=13b0977b-edb8-46e1-9541-1d40e9fdb619

SMS_IR_API_TOKEN=wZ6R55hKd6qZ7JMV2UzWtcB0ICDbW1W6
SMS_IR_VERIFY_TEMPLATE_ID=841738
SMS_IR_PROPERTY_STATUS_TEMPLATE_ID=724442
SMS_IR_PROPERTY_AUTH_STATUS_TEMPLATE_ID=789060
SMS_IR_PROPERTY_SUBSCRIPTION_TEMPLATE_ID=383261
SMS_IR_ADVISOR_SUBSCRIPTION_TEMPLATE_ID=881483

ENABLE_ADMIN_TWO_STEP_VERIFICATION=0

PAYMENT_BASE_URL=http://localhost:3000/api/v1
BASE_URL=http://localhost:3016
WEBSITE_URL=https://jayab.app
ADVISOR_SHARE_URL=http://localhost:3018

#Config
APP_NAME=takrokh
APP_FA_NAME=جایاب
APP_LOGO=https://kian-contents-b1.s3.ir-thr-at1.arvanstorage.ir/takrokh%2Flogo%2Ftakrokh.png?versionId=

ADVISOR_SHARE_LINK_SECRET=8ba657ebf6ea814awwe3a7cdsbf4c3b47c2183955947012bb68910cf9077ab7aa70
TEST_ACCESS_ENABLED=0
TEST_TEAM_LEAD_MOBILE=09120680481
