NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:113355@localhost:5432/marketplace_db
# DATABASE_URL=postgresql://root:vAX46u9odzRcv3shuHAG@nanaga-parbat.liara.cloud:31590/bazartour_db

ALLOWED_RADIUS_FOR_ORDERING=20
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''

USER_SECRET=dd4e25f666ae8dcfb59ddd362aa619c072163aa1e4744363d59dd7d9931c63b
USER_EXPIRE=7d

USER_AUTH_SECRET=6e0bb3df7b504ed0181cc8d56547d105e1dca25a031c56dfb3b167246bf17332f
USER_AUTH_EXPIRE=2h

GUEST_SECRET=6e0bb3df7b504eddd330181cc8d565473b167246bf173
GUEST_EXPIRE=180d

ADMIN_SIGNIN_SECRET=c8721ff67a6869213ccbff39607672f46a44d893b04fa6ec085c4ec05cfc4ad
ADMIN_AUTH_SECRET=74bsdc0cb4083b6b0b979ffc7d3b6aaaa11633aed322b0bdee9d56e937adh769340
ADMIN_AUTH_EXPIRE=7d
ADMIN_PASS_NONCE=dee2b9f88bdd8cd149ef1d0ed70902e51e08b9777e31374a53eec9a8

MAX_OTP_ATTEMPTS=3

BUCKET_NAME=kian-dev-bucket
S3_FS1_ENDPOINT=storage.iran.liara.space
S3_FS1_ACCESS_KEY=iastfsdau56boc
S3_FS1_SECRET_KEY=13b0977b-edb8-46e1-9541-1d40e9fdb6


SMS_IR_API_TOKEN=123
SMS_IR_VERIFY_TEMPLATE_ID=868026
SMS_IR_ORDER_STATUS_TEMPLATE_ID=728904
SMS_IR_NEW_ORDER_TEMPLATE_ID=928556


PAYMENT_BASE_URL=http://192.168.1.113:3000/api/v1


#Config
IS_MARKETPLACE=0
APP_NAME=kian
APP_LOGO=https://kian-dev-bucket.storage.iran.liara.space/bazartour/yeakokey.png

BUSINESS_NAME="فروشگاه اصلی"
BUSINESS_ADDRESS="تهران - بلوار دریا"
BUSINESS_LATITUDE=35.771499
BUSINESS_LONGITUDE=51.377703

HAS_MULTI_PRODUCT_ATTRIBUTE=1
MAIN_ATTRIBUTE_GROUP=رنگ

HAS_OFFER_CODE=1
HAS_PAYMENT=1